# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!.gitignore
!README.md

# Images
!EroSta_1.rpgmvp
!EroSta_2.rpgmvp
!!文字盤.rpgmvp
!World_MAP.rpgmvp
!EroSta_1.rpgmvp
!EroSta_2.rpgmvp
!Explanation_Loan.rpgmvp
!Explanation_SNS.rpgmvp
!MAP_Beach.rpgmvp
!MAP_Colosseum.rpgmvp
!MAP_Home.rpgmvp
!MAP_Slum.rpgmvp
!MAP_Tower.rpgmvp
!MAP_Village.rpgmvp
!MAP_Wood.rpgmvp
!MAP_World_2.rpgmvp
!文字盤.rpgmvp
!Loan_Screen.rpgmvp
!SNS_Button_1.rpgmvp
!SNS_Button_2.rpgmvp
!SNS_Button_3.rpgmvp
!SNS_Button_4.rpgmvp
!SNS_Button_5.rpgmvp
!SNS_Content_1_1.rpgmvp
!SNS_Content_1_2.rpgmvp
!SNS_Content_1_3.rpgmvp
!SNS_Content_1_4.rpgmvp
!SNS_Content_1_5.rpgmvp
!SNS_Content_1_6.rpgmvp
!SNS_Content_1_7.rpgmvp
!SNS_Content_2_1.rpgmvp
!SNS_Content_2_2.rpgmvp
!SNS_Content_2_3.rpgmvp
!SNS_Content_2_4.rpgmvp
!SNS_Content_2_5.rpgmvp
!SNS_Content_2_6.rpgmvp
!SNS_Content_2_7.rpgmvp
!SNS_Content_2_8.rpgmvp
!SNS_Content_3_1.rpgmvp
!SNS_Content_3_2.rpgmvp
!SNS_Content_3_3.rpgmvp
!SNS_Content_3_4.rpgmvp
!SNS_Content_3_5.rpgmvp
!SNS_Content_3_6.rpgmvp
!SNS_Content_3_7.rpgmvp
!SNS_Content_4_1.rpgmvp
!SNS_Content_4_2.rpgmvp
!SNS_Content_4_3.rpgmvp
!SNS_Content_4_4.rpgmvp
!SNS_Content_4_5.rpgmvp
!SNS_Content_4_6.rpgmvp
!SNS_Content_4_7.rpgmvp
!SNS_Content_4_8.rpgmvp
!SNS_Content_5_1.rpgmvp
!SNS_Content_5_2.rpgmvp
!SNS_Content_5_3.rpgmvp
!SNS_Content_5_4.rpgmvp
!SNS_Content_5_5.rpgmvp
!SNS_Content_5_6.rpgmvp
!SNS_Content_5_7.rpgmvp
!SNS_Home.rpgmvp
!Title_screen.rpgmvp
